In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/sierraleone-bumbuna.csv", parse_dates=["Timestamp"])
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  datetime64[ns]
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: datetime64[ns](1), float64(16), int64(2)
memory usage: 76.2 MB

In [3]:
print("The description of the numeric columns:")
print(df.describe())
print("---------------------------------------")
print("The description of the categorical columns:")
if not df.select_dtypes(include='object').empty:
    print(df.describe(include=["object"]))
else:
    print("No object (categorical/string) columns found.")
print("----------------------------------------")
print("The description of all columns")
print(df.describe(include='all'))
print("----------------------------------------")
print("An overview of the dataset: the first 5 rows")
print(df.head())
print("-----------------------------------------")
print("An overview of the dataset: the last 5 rows")
print(df.tail())
print("-----------------------------------------")
print("An overview of the dataset: a random sample of 5 rows")
print(df.sample(5))
print("-----------------------------------------")
print("An overview of the dataset: the shape of the dataset")
print(df.info())
print("------------------------------------------")
print("Check for missing values:")
print(df.isna().sum())

The description of the numeric columns:
                           Timestamp            GHI            DNI  \
count                         525600  525600.000000  525600.000000
mean   2022-04-30 12:00:30.000000768     201.957515     116.376337
min              2021-10-30 00:01:00     -19.500000      -7.800000
25%              2022-01-29 06:00:45      -2.800000      -0.300000
50%              2022-04-30 12:00:30       0.300000      -0.100000
75%              2022-07-30 18:00:15     362.400000     107.000000
max              2022-10-30 00:00:00    1499.000000     946.000000
std                              NaN     298.495150     218.652659

                 DHI           ModA           ModB           Tamb  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      113.720571     206.643095     198.114691      26.319394
min       -17.900000       0.000000       0.000000      12.300000
25%        -3.800000       0.000000       0.000000      23.100000
50%        -0.100000       3.600000       3.400000      25.300000
75%       224.700000     359.500000     345.400000      29.400000
max       892.000000    1507.000000    1473.000000      39.900000
std       158.946032     300.896893     288.889073       4.398605

                  RH             WS         WSgust        WSstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean       79.448857       1.146113       1.691606       0.363823
min         9.900000       0.000000       0.000000       0.000000
25%        68.700000       0.000000       0.000000       0.000000
50%        85.400000       0.800000       1.600000       0.400000
75%        96.700000       2.000000       2.600000       0.600000
max       100.000000      19.200000      23.900000       4.100000
std        20.520775       1.239248       1.617053       0.295000

                  WD        WDstdev             BP       Cleaning  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      133.044668       7.172220     999.876469       0.000967
min         0.000000       0.000000     993.000000       0.000000
25%         0.000000       0.000000     999.000000       0.000000
50%       161.500000       6.200000    1000.000000       0.000000
75%       234.100000      12.000000    1001.000000       0.000000
max       360.000000      98.400000    1006.000000       1.000000
std       114.284792       7.535093       2.104419       0.031074

       Precipitation          TModA          TModB  Comments
count  525600.000000  525600.000000  525600.000000       0.0
mean        0.004806      32.504263      32.593091       NaN
min         0.000000      10.700000      11.100000       NaN
25%         0.000000      23.500000      23.800000       NaN
50%         0.000000      26.600000      26.900000       NaN
75%         0.000000      40.900000      41.300000       NaN
max         2.400000      72.800000      70.400000       NaN
std         0.047556      12.434899      12.009161       NaN
---------------------------------------
The description of the categorical columns:
No object (categorical/string) columns found.
----------------------------------------
The description of all columns
                           Timestamp            GHI            DNI  \
count                         525600  525600.000000  525600.000000
mean   2022-04-30 12:00:30.000000768     201.957515     116.376337
min              2021-10-30 00:01:00     -19.500000      -7.800000
25%              2022-01-29 06:00:45      -2.800000      -0.300000
50%              2022-04-30 12:00:30       0.300000      -0.100000
75%              2022-07-30 18:00:15     362.400000     107.000000
max              2022-10-30 00:00:00    1499.000000     946.000000
std                              NaN     298.495150     218.652659

                 DHI           ModA           ModB           Tamb  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      113.720571     206.643095     198.114691      26.319394
min       -17.900000       0.000000       0.000000      12.300000
25%        -3.800000       0.000000       0.000000      23.100000
50%        -0.100000       3.600000       3.400000      25.300000
75%       224.700000     359.500000     345.400000      29.400000
max       892.000000    1507.000000    1473.000000      39.900000
std       158.946032     300.896893     288.889073       4.398605

                  RH             WS         WSgust        WSstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean       79.448857       1.146113       1.691606       0.363823
min         9.900000       0.000000       0.000000       0.000000
25%        68.700000       0.000000       0.000000       0.000000
50%        85.400000       0.800000       1.600000       0.400000
75%        96.700000       2.000000       2.600000       0.600000
max       100.000000      19.200000      23.900000       4.100000
std        20.520775       1.239248       1.617053       0.295000

                  WD        WDstdev             BP       Cleaning  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      133.044668       7.172220     999.876469       0.000967
min         0.000000       0.000000     993.000000       0.000000
25%         0.000000       0.000000     999.000000       0.000000
50%       161.500000       6.200000    1000.000000       0.000000
75%       234.100000      12.000000    1001.000000       0.000000
max       360.000000      98.400000    1006.000000       1.000000
std       114.284792       7.535093       2.104419       0.031074

       Precipitation          TModA          TModB  Comments
count  525600.000000  525600.000000  525600.000000       0.0
mean        0.004806      32.504263      32.593091       NaN
min         0.000000      10.700000      11.100000       NaN
25%         0.000000      23.500000      23.800000       NaN
50%         0.000000      26.600000      26.900000       NaN
75%         0.000000      40.900000      41.300000       NaN
max         2.400000      72.800000      70.400000       NaN
std         0.047556      12.434899      12.009161       NaN
----------------------------------------
An overview of the dataset: the first 5 rows
            Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0 2021-10-30 00:01:00 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.1  0.0     0.0
1 2021-10-30 00:02:00 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.2  0.0     0.0
2 2021-10-30 00:03:00 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.2  0.0     0.0
3 2021-10-30 00:04:00 -0.7  0.0 -0.8   0.0   0.0  21.9  99.3  0.0     0.0
4 2021-10-30 00:05:00 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.3  0.0     0.0

   WSstdev   WD  WDstdev    BP  Cleaning  Precipitation  TModA  TModB  \
0      0.0  0.0      0.0  1002         0            0.0   22.3   22.6
1      0.0  0.0      0.0  1002         0            0.0   22.3   22.6
2      0.0  0.0      0.0  1002         0            0.0   22.3   22.6
3      0.0  0.0      0.0  1002         0            0.1   22.3   22.6
4      0.0  0.0      0.0  1002         0            0.0   22.3   22.6

   Comments
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
-----------------------------------------
An overview of the dataset: the last 5 rows
                 Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb     RH   WS  \
525595 2022-10-29 23:56:00 -1.6 -0.1 -2.9   0.0   0.0  24.0  100.0  0.0
525596 2022-10-29 23:57:00 -1.7 -0.1 -3.0   0.0   0.0  24.0  100.0  0.0
525597 2022-10-29 23:58:00 -1.7 -0.1 -3.1   0.0   0.0  24.0  100.0  0.0
525598 2022-10-29 23:59:00 -1.7 -0.2 -3.3   0.0   0.0  23.9  100.0  0.0
525599 2022-10-30 00:00:00 -1.7 -0.1 -3.4   0.0   0.0  23.9  100.0  0.0

        WSgust  WSstdev   WD  WDstdev    BP  Cleaning  Precipitation  TModA  \
525595     0.0      0.0  0.0      0.0   999         0            0.0   24.2
525596     0.0      0.0  0.0      0.0   999         0            0.0   24.2
525597     0.0      0.0  0.0      0.0  1000         0            0.0   24.1
525598     0.0      0.0  0.0      0.0  1000         0            0.0   24.1
525599     0.0      0.0  0.0      0.0  1000         0            0.0   24.1

        TModB  Comments
525595   24.5       NaN
525596   24.5       NaN
525597   24.4       NaN
525598   24.4       NaN
525599   24.4       NaN
-----------------------------------------
An overview of the dataset: a random sample of 5 rows
                 Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb     RH  \
200924 2022-03-18 12:45:00   885.0  504.0  382.5   905.0   827.0  34.0   35.0
447795 2022-09-05 23:16:00    -1.1   -0.1   -4.8     0.0     0.0  22.2   99.5
223858 2022-04-03 10:59:00   885.0  455.9  480.6   882.0   855.0  28.7   57.3
24696  2021-11-16 03:37:00    -0.6    0.0   -0.7     0.0     0.0  22.6  100.0
370781 2022-07-14 11:42:00  1106.0  802.0  346.7  1029.0  1011.0  28.4   81.1

         WS  WSgust  WSstdev     WD  WDstdev    BP  Cleaning  Precipitation  \
200924  1.9     3.1      0.9  193.1     14.5   998         0            0.0
447795  1.5     1.9      0.4  344.8      3.7  1003         0            0.0
223858  2.5     3.6      0.5  249.0     23.8  1001         0            0.0
24696   1.1     1.4      0.3  150.4      0.1   999         0            0.0
370781  1.8     2.9      0.6  253.9     25.8  1002         0            0.0

        TModA  TModB  Comments
200924   60.8   58.2       NaN
447795   22.4   22.7       NaN
223858   52.0   50.2       NaN
24696    23.2   23.5       NaN
370781   52.8   51.6       NaN
-----------------------------------------
An overview of the dataset: the shape of the dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  datetime64[ns]
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: datetime64[ns](1), float64(16), int64(2)
memory usage: 76.2 MB
None
------------------------------------------
Check for missing values:
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64